body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1920px;
  height: 2804px;
}
* {
  margin: 0;
  padding: 0;
}
@media (max-width: 420px) {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 420px;
    height: 3140px;
  }
}
