
html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
@media (max-width: 420px) {
  html, body {
    margin: 0;
    min-width: 420px;
    height: 100%;
  }
}
